<form [formGroup]="createToyForm" (ngSubmit)="onSubmit(createToyForm.getRawValue())" class="card">

  <div class="row">
    <div class="form-group col">
      <label for="name">
        Name: <input class="form-control" id="name" type="text" formControlName="name" placeholder="Enter name">
      </label>
      <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
        <div *ngIf="name?.errors?.['required']">Name is required.</div>
        <div *ngIf="name?.errors?.['minlength']">Name should be at least 3 letters.</div>
        <div *ngIf="name?.errors?.['maxlength']">Name should be less than 25 letters.</div>
      </div>
    </div>
  
    <div class="form-group col">
      <label for="supplier_name">
        Supplier name: <input class="form-control" id="supplier_name" type="text" formControlName="supplier_name" placeholder="Enter supplier name">
      </label>
      <div *ngIf="supplier_name?.touched && supplier_name?.invalid" class="alert alert-danger">
        <div *ngIf="supplier_name?.errors?.['required']">Supplier name is required.</div>
        <div *ngIf="supplier_name?.errors?.['minlength']">Supplier name should be at least 3 letters.</div>
        <div *ngIf="supplier_name?.errors?.['maxlength']">Name should be less than 25 letters.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
        <label for="units_in_stock">
          Units in stock: <input class="form-control" id="units_in_stock" type="number" formControlName="units_in_stock" placeholder="Enter units in stock">
        </label>
        <div *ngIf="units_in_stock?.touched && units_in_stock?.invalid" class="alert alert-danger">
          <div *ngIf="units_in_stock?.errors?.['required']">Units in stock is required.</div>
          <div *ngIf="units_in_stock?.errors?.['min']">Units in stock cannot be less than 1.</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="total_price">
          Total price: <input class="form-control" id="total_price" type="number" formControlName="total_price" placeholder="Enter total price">
        </label>
        <div *ngIf="total_price?.touched && total_price?.invalid" class="alert alert-danger">
          <div *ngIf="total_price?.errors?.['required']">Price is required.</div>
          <div *ngIf="total_price?.errors?.['min']">Price cannot be less than 1.</div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <label for="image_url">
          Image URL: <input class="form-control" id="image_url" type="text" formControlName="image_url" placeholder="Enter image url">
        </label>
        <div *ngIf="image_url?.touched && image_url?.invalid" class="alert alert-danger">
          <div *ngIf="image_url?.errors?.['required']">Image is required.</div>
        </div>
      </div>
  
      <div class="col">
        <label for="tags">
          Tags:<select multiple class="form-control" id="tags" formControlName="tags">
            <option value="1">Action Hero</option>
            <option value="2">Soft Toy</option>
            <option value="3">Puzzle</option>
            <option value="4">Video Game</option>
            <option value="5">Science</option>
            <option value="6">Ages 0-6</option>
            <option value="7">Ages 6-12</option>
            <option value="8">Ages 12+</option>
          </select>
        </label>
        <div *ngIf="tags?.touched && tags?.invalid" class="alert alert-danger">
          <div *ngIf="tags?.errors?.['required']">Tags are required.</div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <p *ngIf="!createToyForm.valid" class="alert alert-danger">
        Your form status is : <b>{{ createToyForm.status }}</b>
      </p>
      <p *ngIf="createToyForm.valid" class="alert alert-success">
        Your form status is : <b>{{ createToyForm.status }}</b>
      </p>
    </div>
    <div class="col">
    <button class="btn btn-primary" type="submit" [disabled]="!createToyForm.valid">Submit</button>
  </div>
  </div>
  <p *ngIf="myresponse !== ''" class="alert alert-success response"> {{ myresponse }}
  </p>
  </form>