.toy-img {
  width: 18rem;
  height: auto;
  display: block;
  margin: auto;
}

.product-btn {
  text-align: center;
  margin: auto;
}

#detail-wrap {
  margin-top: 5rem;
}

.cart-btn {
  margin: 2px;
}