<p style="text-align: center" *ngIf="myresponse !== ''" class="alert alert-success response"> {{ myresponse }}
</p>
<div id="detail-wrap">
<div class="container">
    <div class="row ">
        <div class="col d-flex justify-content-cente">
            <img class="img-thumbnail toy-img" [src]="toy.image_url">
        </div>
        <div class="col text-center">
            <h3>{{toy.name}}</h3>
            <h4>Stock: {{toy.units_in_stock}}</h4>
            <h4>Price: {{toy.total_price | currency:'GBP'}}</h4>
            <h6>{{toy.supplier_name}}</h6>

            <a class=" cart-btn btn btn-secondary">Add to Cart</a>
            <button class=" cart-btn btn btn-info" (click)="discontinueToy()" >Discontinue</button>
            
        
        </div>
    </div>
    <div class="row">
        <a [routerLink] = "['/toys']" class="col-2 product-btn btn btn-secondary">Return to Toys</a>
    </div>
    

</div>
</div>